//colors theme

$light: #e7e7ef;;
$primary: #9097e1;
$dark: #181819;
$secondary: #62ebca;


// radius
$radius: 1.2rem;

//spacing
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;

// duration 
$duration: 0.4s;
// header height

$headerHeight: 10rem;


